In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../')
import datasets
import log_reg
from dataproc import extract_wvs
from dataproc import get_discharge_summaries
from dataproc import concat_and_split
from dataproc import build_vocab
from dataproc import vocab_index_descriptions
from dataproc import word_embeddings
import constants
from constants import MIMIC_3_DIR

import numpy as np
import pandas as pd

from collections import Counter, defaultdict
import csv
import math
import operator

In [4]:
Y = 'full' #use all available labels in the dataset for prediction
notes_file = '%s/NOTEEVENTS.csv' % MIMIC_3_DIR # raw note events downloaded from MIMIC-III
vocab_size = 'full' #don't limit the vocab size to a specific number
vocab_min = 3 #discard tokens appearing in fewer than this many documents

In [5]:
dfproc = pd.read_csv('%s/PROCEDURES_ICD.csv' % MIMIC_3_DIR)
dfdiag = pd.read_csv('%s/DIAGNOSES_ICD.csv' % MIMIC_3_DIR)

In [6]:
dfdiag['absolute_code'] = dfdiag.apply(lambda row: str(datasets.reformat(str(row[4]), True)), axis=1)
dfproc['absolute_code'] = dfproc.apply(lambda row: str(datasets.reformat(str(row[4]), False)), axis=1)

/var/folders/44/4jp4z7y14d364110ygg7b_4r0000gn/T/ipykernel_58553/2369496630.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dfdiag['absolute_code'] = dfdiag.apply(lambda row: str(datasets.reformat(str(row[4]), True)), axis=1)
/var/folders/44/4jp4z7y14d364110ygg7b_4r0000gn/T/ipykernel_58553/2369496630.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dfproc['absolute_code'] = dfproc.apply(lambda row: str(datasets.reformat(str(row[4]), False)), axis=1)

In [7]:
dfcodes = pd.concat([dfdiag, dfproc])

In [8]:
dfcodes.to_csv('%s/ALL_CODES.csv' % MIMIC_3_DIR, index=False,
               columns=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'absolute_code'],
               header=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE'])

In [9]:
# how many codes are there In the full dataset (not just discharge summaries)
df = pd.read_csv('%s/ALL_CODES.csv' % MIMIC_3_DIR, dtype={"ICD9_CODE": str})
len(df['ICD9_CODE'].unique())

8994

Tokenize and preprocess raw text

In [10]:
#This reads all notes, selects only the discharge summaries, and tokenizes them, returning the output filename
disch_full_file = get_discharge_summaries.write_discharge_summaries(out_file="%s/disch_full.csv" % MIMIC_3_DIR)

processing notes file
writing to /Users/hungryfoolish/Documents/bd4h/project/data_mimic/disch_full.csv

2083180it [00:40, 51520.87it/s]

In [12]:
df = pd.read_csv("%s/disch_full.csv" % MIMIC_3_DIR)

In [14]:
len(df.HADM_ID.unique())

52726

In [15]:
df.shape

(59652, 4)

In [16]:
df.head()

,SUBJECT_ID,HADM_ID,CHARTTIME,TEXT
0,22532,167853,NaN,admission date discharge date service addendum...
1,13702,107527,NaN,admission date discharge date date of birth se...
2,13702,167118,NaN,admission date discharge date service cardioth...
3,13702,196489,NaN,admission date discharge date service medicine...
4,26880,135453,NaN,admission date discharge date date of birth se...

In [17]:
#Tokens and types
types = set()
num_tok = 0
for row in df.itertuples():
    for w in row[4].split():
        types.add(w)
        num_tok += 1

In [18]:
print("Num types", len(types))
print("Num tokens", str(num_tok))

Num types 150853
Num tokens 79801402

In [19]:
#Let's sort by SUBJECT_ID and HADM_ID to make a correspondence with the MIMIC-3 label file
df = df.sort_values(['SUBJECT_ID', 'HADM_ID'])

In [20]:
#Sort the label file by the same
dfl = pd.read_csv('%s/ALL_CODES.csv' % MIMIC_3_DIR)
dfl = dfl.sort_values(['SUBJECT_ID', 'HADM_ID'])

/var/folders/44/4jp4z7y14d364110ygg7b_4r0000gn/T/ipykernel_58553/1618252027.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  dfl = pd.read_csv('%s/ALL_CODES.csv' % MIMIC_3_DIR)

In [21]:
len(df['HADM_ID'].unique()), len(dfl['HADM_ID'].unique())

(52726, 58976)

There were some HADM_ID's that didn't have discharge summaries, let's not include them (next section)

In [22]:
dfl.head()

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
608          1           2   163353      1.0    V30.01
609          2           2   163353      2.0     V05.3
610          3           2   163353      3.0     V29.0
746132  109376           2   163353      1.0     99.55
611          4           3   145834      1.0     038.9

## Consolidate labesl with set of discharge summaries

In [23]:
#Let's filter out these HADM_ID's
hadm_ids = set(df['HADM_ID'])
with open('%s/ALL_CODES.csv' % MIMIC_3_DIR, 'r') as lf:
    with open('%s/ALL_CODES_filtered.csv' % MIMIC_3_DIR, 'w') as of:
        w = csv.writer(of)
        w.writerow(['SUBJECT_ID', 'HADM_ID', 'ICD9_CODE', 'ADMITTIME', 'DISCHTIME'])
        r = csv.reader(lf)
        #header
        next(r)
        for i,row in enumerate(r):
            hadm_id = int(row[2])
            #print(hadm_id)
            #break
            if hadm_id in hadm_ids:
                w.writerow(row[1:3] + [row[-1], '', ''])

In [24]:
dfl = pd.read_csv('%s/ALL_CODES_filtered.csv' % MIMIC_3_DIR, index_col=None)

/var/folders/44/4jp4z7y14d364110ygg7b_4r0000gn/T/ipykernel_58553/1742194954.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dfl = pd.read_csv('%s/ALL_CODES_filtered.csv' % MIMIC_3_DIR, index_col=None)

In [25]:
len(dfl['HADM_ID'].unique())

52726

In [26]:
#we still need to sort it by HADM_ID
dfl = dfl.sort_values(['SUBJECT_ID', 'HADM_ID'])
dfl.to_csv('%s/ALL_CODES_filtered.csv' % MIMIC_3_DIR, index=False)

## Append labels to notes in a single file

In [27]:
#Now let's append each instance with all of its codes
#this is pretty non-trivial so let's use this script I wrote, which requires the notes to be written to file
sorted_file = '%s/disch_full.csv' % MIMIC_3_DIR
df.to_csv(sorted_file, index=False)

In [28]:
labeled = concat_and_split.concat_data('%s/ALL_CODES_filtered.csv' % MIMIC_3_DIR, sorted_file)

CONCATENATING
0 done
10000 done
20000 done
30000 done
40000 done
50000 done

In [29]:
#name of the file we just made
print(labeled)

/Users/hungryfoolish/Documents/bd4h/project/data_mimic/notes_labeled.csv

Sanity check the combined data. Do we have all hadm id accounted for, and the same vocab stats

In [30]:
dfnl = pd.read_csv(labeled)
dfnl.head()

,SUBJECT_ID,HADM_ID,TEXT,LABELS
0,3,145834,admission date discharge date date of birth se...,038.9;785.59;584.9;427.5;410.71;428.0;682.6;42...
1,4,185777,admission date discharge date date of birth se...,042;136.3;799.4;276.3;790.7;571.5;041.11;V09.0...
2,6,107064,admission date discharge date date of birth se...,403.91;444.0;997.2;276.6;276.7;285.9;275.3;V15...
3,9,150750,admission date discharge date date of birth se...,431;507.0;428.0;584.9;276.5;401.9;96.72;96.04
4,10,184167,admission date discharge date date of birth se...,V30.00;774.2;765.25;765.15;V29.0;99.83;99.15;96.6

In [31]:
#Tokens and types
types = set()
num_tok = 0
for row in dfnl.itertuples():
    for w in row[3].split():
        types.add(w)
        num_tok += 1

In [32]:
print("num types", len(types), "num tokens", num_tok)

num types 150853 num tokens 79801402

In [33]:
len(dfnl['HADM_ID'].unique())

52726

In [34]:
dfnl.isna().sum()

SUBJECT_ID    0
HADM_ID       0
TEXT          0
LABELS        4
dtype: int64

There are some NaN values in Labels that were not dealt with by this script

In [36]:
dfnl_nonan = dfnl.dropna()
dfnl_nonan.isna().sum()

SUBJECT_ID    0
HADM_ID       0
TEXT          0
LABELS        0
dtype: int64

## Create train/dev/test splits

In [39]:
fname = '%s/notes_labeled.csv' % MIMIC_3_DIR
base_name = "%s/disch" % MIMIC_3_DIR #for output
tr, dv, te = concat_and_split.split_data(fname, base_name=base_name)

SPLITTING
0 read
10000 read
20000 read
30000 read
40000 read
50000 read

## Build vocabulary from training data

In [40]:
vocab_min = 3
vname = '%s/vocab.csv' % MIMIC_3_DIR
build_vocab.build_vocab(vocab_min, tr, vname)

reading in data...
removing rare terms
51917 terms qualify out of 140794 total
writing output

## Sort each data split by length for batching

In [41]:
for splt in ['train', 'dev', 'test']:
    filename = '%s/disch_%s_split.csv' % (MIMIC_3_DIR, splt)
    df = pd.read_csv(filename)
    df['length'] = df.apply(lambda row: len(str(row['TEXT']).split()), axis=1)
    df = df.sort_values(['length'])
    df.to_csv('%s/%s_full.csv' % (MIMIC_3_DIR, splt), index=False)

## Pre-train word embeddings

In [50]:
w2v_file = word_embeddings.word_embeddings('full', '%s/disch_full.csv' % MIMIC_3_DIR, 100, 0, 5)

building word2vec vocab on /Users/hungryfoolish/Documents/bd4h/project/data_mimic/disch_full.csv...
training...
writing embeddings to /Users/hungryfoolish/Documents/bd4h/project/data_mimic/processed_full.w2v

## Write pre-trained word embeddings with new vocab

In [55]:
extract_wvs.gensim_to_embeddings('%s/processed_full.w2v' % MIMIC_3_DIR, '%s/vocab.csv' % MIMIC_3_DIR, Y)

100%|██████████| 51917/51917 [00:00<00:00, 316397.28it/s]

## Pre-process code descriptions using the vocab

In [3]:
vocab_index_descriptions.vocab_index_descriptions('%s/vocab.csv' % MIMIC_3_DIR,
                                                  '%s/description_vectors.vocab' % MIMIC_3_DIR)

100%|██████████| 22267/22267 [00:00<00:00, 286997.89it/s]

## Filter each split to the top 50 diagnosis/procedure codes

In [4]:
Y = 50

In [5]:
#first calculate the top k
counts = Counter()
dfnl = pd.read_csv('%s/notes_labeled.csv' % MIMIC_3_DIR)
for row in dfnl.itertuples():
    for label in str(row[4]).split(';'):
        counts[label] += 1

In [6]:
codes_50 = sorted(counts.items(), key=operator.itemgetter(1), reverse=True)

In [7]:
codes_50 = [code[0] for code in codes_50[:Y]]

In [8]:
codes_50

['401.9',
 '38.93',
 '428.0',
 '427.31',
 '414.01',
 '96.04',
 '96.6',
 '584.9',
 '250.00',
 '96.71',
 '272.4',
 '518.81',
 '99.04',
 '39.61',
 '599.0',
 '530.81',
 '96.72',
 '272.0',
 '285.9',
 '88.56',
 '244.9',
 '486',
 '38.91',
 '285.1',
 '36.15',
 '276.2',
 '496',
 '99.15',
 '995.92',
 'V58.61',
 '507.0',
 '038.9',
 '88.72',
 '585.9',
 '403.90',
 '311',
 '305.1',
 '37.22',
 '412',
 '33.24',
 '39.95',
 '287.5',
 '410.71',
 '276.1',
 'V45.81',
 '424.0',
 '45.13',
 'V15.82',
 '511.9',
 '37.23']

In [9]:
with open('%s/TOP_%s_CODES.csv' % (MIMIC_3_DIR, str(Y)), 'w') as of:
    w = csv.writer(of)
    for code in codes_50:
        w.writerow([code])

Get a subset of data that contains the top 50 codes

In [10]:
for splt in ['train', 'dev', 'test']:
    print(splt)
    hadm_ids = set()
    with open('%s/%s_50_hadm_ids.csv' % (MIMIC_3_DIR, splt), 'r') as f:
        for line in f:
            hadm_ids.add(line.rstrip())
    with open('%s/notes_labeled.csv' % MIMIC_3_DIR, 'r') as f:
        with open('%s/%s_%s.csv' % (MIMIC_3_DIR, splt, str(Y)), 'w') as of:
            r = csv.reader(f)
            w = csv.writer(of)
            #header
            w.writerow(next(r))
            i = 0
            for row in r:
                hadm_id = row[1]
                if hadm_id not in hadm_ids:
                    continue
                codes = set(str(row[3]).split(';'))
                filtered_codes = codes.intersection(set(codes_50))
                if len(filtered_codes) > 0:
                    w.writerow(row[:3] + [';'.join(filtered_codes)])
                    i += 1

train
dev
test

In [11]:
for splt in ['train', 'dev', 'test']:
    filename = '%s/%s_%s.csv' % (MIMIC_3_DIR, splt, str(Y))
    df = pd.read_csv(filename)
    df['length'] = df.apply(lambda row: len(str(row['TEXT']).split()), axis=1)
    df = df.sort_values(['length'])
    df.to_csv('%s/%s_%s.csv' % (MIMIC_3_DIR, splt, str(Y)), index=False)

this subset train_50.csv (~8000 rows) has ~ 1/6 of the full data train_full.csv (~48000 rows) and could be useful for experimentation